<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>NoexRush</title>
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/404.css">
</head>

<body>
    <main>
        <div class="title">
            <h1>404</h1>
            <img src="../img/pic.png" alt="">
        </div>
        <h3>Ошибка</h3>
        <p>Страница, которую Вы ищите не существует или устарела.</p>
        <h5>Вы можете вернуться <a href="#">назад</a></h5>
        <h5>либо перейти на <a href="index.html">главную</a></h5>
    </main>
</body>

</html>