<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>NoexRush</title>
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/fontello.css">
    <link rel="stylesheet" href="../css/slick.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/card-of-product.css">
</head>

<body>

    <header>
        <div class="container">
            <div class="header">
                <a href="index.html" class="logo">
                    <img src="../img/logo.png" alt="">
                </a>
                <div class="all-menu">
                    <div class="top-block">
                        <a href="index.html" class="logo">
                            <img src="../img/logo.png" alt="">
                        </a>
                        <a href="javascript:void(0);" class="burger-menu close"><i class="icon-close"></i></a>
                    </div>
                    <nav>
                        <ul class="mainMenu">
                            <li><a href="about-company.html">О компании</a></li>
                            <li><a href="production.html">Продукция</a></li>
                            <li><a href="services.html">Услуги</a></li>
                            <li><a href="delivery-pay.html">Оплата и доставка</a></li>
                            <li><a href="contact.html">Контакты</a></li>
                        </ul>
                    </nav>
                    <ul class="contacts">
                        <li><span><i class="icon-phone"></i></span>
                            <div><a href="tel:+7-495-796-3118">+7-495-796-3118</a>
                                <p class="open-feedback">Заказать звонок</p>
                            </div>
                        </li>
                        <li>
                            <span><i class="icon-mail"></i></span>
                            <div><a href="mailto:info@noex-russian.com">info@noex-russian.com</a>
                                <p>Напишите нам</p>
                            </div>
                        </li>
                        <li>
                            <span><i class="icon-pin_map"></i></span>
                            <div> <a href="javascript:void(0);">доставки по всей Белоруссии</a></div>
                        </li>
                    </ul>
                    <div class="bottom-block">
                        <div class="search">
                            <input type="text" placeholder="Поиск по сайту">
                            <i class="icon-search" onclick="document.location.href='resul-search.html'"></i>
                        </div>
                        <a href="javascrip:void(0);" class="orange-button open-submit">Онлайн заявка</a>
                    </div>
                </div>
                <a href="javascript:void(0);" class="burger-menu open"><i class="icon-menu"></i></a>
            </div>
        </div>
        <div class="line-descBG">
            <div class="container">
                <div class="line-desc">
                    <div class="left">
                        <div class="burgerDropMenu">
                            <i class="icon-menu"></i>
                        </div>
                        <a href="coin-box.html">
                            <p>Каталог</p>
                        </a>
                        <div class="search">
                            <input type="text" placeholder="Поиск по сайту" class="list-s">
                            <a href="result-search.html"><i class="icon-search"></i></a>
                            <ul class="list-search">
                                <li><a href="coin-box.html">Монетница Mini max</a></li>
                                <li><a href="one-service.html">Mонетница Kontakt из акрила и пластика</a></li>
                                <li><a href="card-of-product.html">Монетница Perfect</a></li>
                                <li><a href="coin-box.html">Монетница Mini max</a></li>
                                <li><a href="one-service.html">Mонетница Kontakt из акрила и пластика</a></li>
                                <li><a href="card-of-product.html">Монетница Perfect</a></li>
                                <li><a href="coin-box.html">Монетница Mini max</a></li>
                                <h5><a href="result-search.html">Показать все результаты</a></h5>
                            </ul>
                        </div>
                    </div>
                    <a href="javascrip:void(0);" class="orange-button open-submit">Онлайн заявка</a>
                    <div class="dropPodMenu">
                        <div class="first-menu">
                            <ul>
                                <li><a href="coin-box.html">Монетницы</a><i class="icon-arrow-long"></i></li>
                                <li><a href="coin-box.html">Коробки для чеков</a><i class="icon-arrow-long"></i></li>
                                <li><a href="coin-box.html">Пластиковые подносы</a><i class="icon-arrow-long"></i></li>
                                <li><a href="coin-box.html">Менюхолдеры</a><i class="icon-arrow-long"></i></li>
                                <li><a href="coin-box.html">Полиграфия</a><i class="icon-arrow-long"></i></li>
                                <li><a href="coin-box.html">Ценникодержатели</a><i class="icon-arrow-long"></i></li>
                                <li><a href="coin-box.html">Информационные стенды</a><i class="icon-arrow-long"></i></li>
                                <li><a href="coin-box.html">Диспенсеры</a><i class="icon-arrow-long"></i></li>
                            </ul>
                        </div>
                        <div class="second-menu">
                            <ul>
                                <li>Пластик</li>
                                <li>LCD</li>
                                <li>Стекло</li>
                                <li>Алюминий</li>
                                <li>С подсветкой</li>
                                <li>Пластик – Стекло</li>
                            </ul>
                        </div>
                        <div class="third-menu">
                            <div class="one">
                                <div class="one-product">
                                    <div class="photo">
                                        <img src="../img/moentnica1.jpg" alt="Photo">
                                    </div>
                                    <div class="info">
                                        <a href="card-of-product.html">Монетница Mini max</a>
                                        <h6>Артикул: 016</h6>
                                    </div>
                                </div>
                                <div class="one-product">
                                    <div class="photo">
                                        <img src="../img/moentnica1.jpg" alt="Photo">
                                    </div>
                                    <div class="info">
                                        <a href="card-of-product.html">Монетница Mini max</a>
                                        <h6>Артикул: 016</h6>
                                    </div>
                                </div>
                                <div class="one-product">
                                    <div class="photo">
                                        <img src="../img/moentnica1.jpg" alt="Photo">
                                    </div>
                                    <div class="info">
                                        <a href="card-of-product.html">Монетница Mini max</a>
                                        <h6>Артикул: 016</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="one">
                                <div class="one-product">
                                    <div class="photo">
                                        <img src="../img/moentnica1.jpg" alt="Photo">
                                    </div>
                                    <div class="info">
                                        <a href="card-of-product.html">Монетница Mini max</a>
                                        <h6>Артикул: 016</h6>
                                    </div>
                                </div>
                                <div class="one-product">
                                    <div class="photo">
                                        <img src="../img/moentnica1.jpg" alt="Photo">
                                    </div>
                                    <div class="info">
                                        <a href="card-of-product.html">Монетница Mini max</a>
                                        <h6>Артикул: 016</h6>
                                    </div>
                                </div>
                                <div class="one-product">
                                    <div class="photo">
                                        <img src="../img/moentnica1.jpg" alt="Photo">
                                    </div>
                                    <div class="info">
                                        <a href="card-of-product.html">Монетница Mini max</a>
                                        <h6>Артикул: 016</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <ul class="scrolling">
            <li class=" act-li"><a href="#1"></a></li>
            <li><a href="#2"></a></li>
        </ul>
        <div class="container">
            <ul class="crumbs">
                <li><a href="index.html">Главная </a></li>
                <li><a href="coin-box.html">Каталог</a></li>
                <li><a href="card-of-product.html.html">Название товара</a></li>
            </ul>
        </div>
        <section class="all-product" id="1">
            <div class="container">
                <div class="top-info">
                    <div class="all-slider">
                        <div class="top">
                            <div class="slider-for">
                                <div>
                                    <img src="../img/monet1.jpg" alt="">
                                </div>
                                <div>
                                    <img src="../img/monet2.jpg" alt="">
                                </div>
                                <div>
                                    <img src="../img/monet1.jpg" alt="">
                                </div>
                                <div>
                                    <img src="../img/monet2.jpg" alt="">
                                </div>
                            </div>
                            <ul class="custom-arr">
                                <li class="prev"> <i class="icon-arrow"></i> </li>
                                <li class="next"> <i class="icon-arrow"></i> </li>
                            </ul>
                        </div>
                        <div class="slider-nav">
                            <div class="one">
                                <img src="../img/monet1.jpg" alt="">
                            </div>
                            <div class="one">
                                <img src="../img/monet2.jpg" alt="">
                            </div>
                            <div class="one">
                                <img src="../img/monet1.jpg" alt="">
                            </div>
                            <div class="one">
                                <img src="../img/monet2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="all-text">
                        <h3 class="name">МОНЕТНИЦА PERFECT ИЗ АКРИЛА</h3>
                        <h6 class="article">Артикул: 016</h6>
                        <h4><span>Вид: </span> двухкомпонентная</h4>
                        <h4><span>Материал: </span> акрил / пластик</h4>
                        <h4><span>Размер, мм (д*ш*в): </span>174 x 174 x 22 мм</h4>
                        <h4><span>Вес, г: </span>220</h4>
                        <h4><span>Рекламный носитель: </span> А - Бумажная этикетка; С - Без рекламы</h4>
                        <h4><span>Размер, мм: </span> 154х154</h4>
                        <div class="order">
                            <div class="left">
                                <p><span>Оставьте заявку</span> прямо сейчас.</p>
                                <p>Наши менеджеры <span>свяжутся с вами</span></p>
                            </div>
                            <div class="right">
                                <h6>Запрос цены</h6>
                                <a href="javascrip:void(0);" class="orange-button open-submit">
                                    оставить заявку
                                </a>
                            </div>
                        </div>
                        <div class="advantages">
                            <div class="one-adv" style="max-width: 160px;">
                                <div class="img">
                                    <img src="../img/fura.png" alt="">
                                </div>
                                <h5>Минимальные
                                    сроки доставки</h5>
                            </div>
                            <div class="one-adv" style="max-width: 207px;">
                                <div class="img">
                                    <img src="../img/pantone.png" alt="">
                                </div>
                                <h5>Бесплатная окраска
                                    пластика в любой цвет
                                    по пантону</h5>
                            </div>
                            <div class="one-adv" style="max-width: 198px;">
                                <div class="img">
                                    <img src="../img/sale.png" alt="">
                                </div>
                                <h5>Скидки для крупных
                                    заказов и постоянных
                                    клиентов</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="description">
                    <h4>Описание</h4>
                    <p>Кассовая тарелка для денег. Изготовлена в форме классического квадрата. Состоит из двух сборных частей:
                        нижней и верхней. Верхняя часть вдавлена — округленное углубление не дает монетам рассыпаться по кассовой тарелке.
                        Для предотвращения скольжения по поверхности стола на аксессуаре предусмотрены противоскользящие элементы.
                        Между верхней и нижней частями размещаются сменные полиграфические носители рекламы.</p>
                </div>
            </div>
        </section>
        <section class="related-products" id="2">
            <div class="container">
                <h2 class="headline">Похожие товары</h2>
                <div class="all-slider">
                    <div class="related-slide">
                        <div class="one-rel">
                            <div class="one">
                                <a href="card-of-product.html" class="photo">
                                    <img src="../img/moentnica1.jpg" alt="Photo">
                                </a>
                                <a href="card-of-product.html" class="title">
                                    Монетница Mini max
                                </a>
                                <h6>Артикул: 016</h6>
                                <h4>Материал: акрил / пластик</h4>
                                <div class="none-el">
                                    <h4>Размер: 160 x 140 x 15 мм</h4>
                                    <h4>Вес: 90 г</h4>
                                    <a href="javascrip:void(0);" class="orange-button">
                                        Оставить заявку
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="one-rel">
                            <div class="one">
                                <a href="card-of-product.html" class="photo">
                                    <img src="../img/moentnica1.jpg" alt="Photo">
                                </a>
                                <a href="card-of-product.html" class="title">
                                    Монетница Mini max
                                </a>
                                <h6>Артикул: 016</h6>
                                <h4>Материал: акрил / пластик</h4>
                                <div class="none-el">
                                    <h4>Размер: 160 x 140 x 15 мм</h4>
                                    <h4>Вес: 90 г</h4>
                                    <a href="javascrip:void(0);" class="orange-button">
                                        Оставить заявку
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="one-rel">
                            <div class="one">
                                <a href="card-of-product.html" class="photo">
                                    <img src="../img/moentnica1.jpg" alt="Photo">
                                </a>
                                <a href="card-of-product.html" class="title">
                                    Монетница Mini max
                                </a>
                                <h6>Артикул: 016</h6>
                                <h4>Материал: акрил / пластик</h4>
                                <div class="none-el">
                                    <h4>Размер: 160 x 140 x 15 мм</h4>
                                    <h4>Вес: 90 г</h4>
                                    <a href="javascrip:void(0);" class="orange-button">
                                        Оставить заявку
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="one-rel">
                            <div class="one">
                                <a href="card-of-product.html" class="photo">
                                    <img src="../img/moentnica1.jpg" alt="Photo">
                                </a>
                                <a href="card-of-product.html" class="title">
                                    Монетница Mini max
                                </a>
                                <h6>Артикул: 016</h6>
                                <h4>Материал: акрил / пластик</h4>
                                <div class="none-el">
                                    <h4>Размер: 160 x 140 x 15 мм</h4>
                                    <h4>Вес: 90 г</h4>
                                    <a href="javascrip:void(0);" class="orange-button">
                                        Оставить заявку
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="one-rel">
                            <div class="one">
                                <a href="card-of-product.html" class="photo">
                                    <img src="../img/moentnica1.jpg" alt="Photo">
                                </a>
                                <a href="card-of-product.html" class="title">
                                    Монетница Mini max
                                </a>
                                <h6>Артикул: 016</h6>
                                <h4>Материал: акрил / пластик</h4>
                                <div class="none-el">
                                    <h4>Размер: 160 x 140 x 15 мм</h4>
                                    <h4>Вес: 90 г</h4>
                                    <a href="javascrip:void(0);" class="orange-button">
                                        Оставить заявку
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="custom-arr">
                        <li class="prev-rel"> <i class="icon-arrow"></i> </li>
                        <li class="next-rel"> <i class="icon-arrow"></i> </li>
                    </ul>
                </div>
            </div>
        </section>


    </main>

    <footer>
        <section class="main-footer">
            <div class="container">
                <div class="all-info">
                    <div class="first">
                        <a href="index.html" class="logo">
                            <img src="../img/logo-white.png" alt="Logo">
                        </a>
                        <p class="open-politic">Политики конфиденциальности</p>
                    </div>
                    <nav>
                        <ul class="second">
                            <li> <a href="about-company.html">О Компании</a> </li>
                            <li> <a href="production.html">Продукция</a> </li>
                            <li> <a href="services.html">Услуги</a> </li>
                        </ul>
                        <ul class="third">
                            <li> <a href="coin-box.html">Каталог товаров</a> </li>
                            <li> <a href="delivery-pay.html">Оплата и доставка</a></li>
                            <li> <a href="contact.html">Контакты</a> </li>
                        </ul>
                    </nav>
                    <div class="fourth">
                        <div>
                            <i class="icon-mail"></i>
                            <a href="mailto:info@noex-russian.com">info@noex-russian.com</a>
                        </div>
                        <div>
                            <i class="icon-phone"></i>
                            <a href="tel:'+7-495-796-3118'">+7-495-796-3118</a>
                        </div>
                        <a href="javascrip:void(0);" class="black-button open-feedback">Обратная связь</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="black-foot">
            <div class="container">
                <p>2020, Все права защищены.</p>
            </div>
        </section>
    </footer>

    <section class="close-background"></section>

    <section class="close-background-black">

        <section class="request-call pop">
            <i class="icon-close close-pop"></i>
            <div class="all">
                <h3>Форма обратной связи</h3>
                <form>
                    <input type="text" placeholder="Ваше имя" required>
                    <input type="text" placeholder="Телефон" id="phone" class="form-control" required>
                    <input type="text" placeholder="Удобное время для звонка" required>
                    <div class="lab">
                        <input type="checkbox" id="check" required>
                        <label for="check">Нажимая кнопку, я согласен/на с условиями
                            <a href="javascript:void(0);" class="open-politic">политики конфиденциальности</a> </label>
                    </div>
                    <button class="orange-button" type="submit">Отправить</button>
                </form>
            </div>
        </section>

        <section class="submit-application pop">
            <i class="icon-close close-pop"></i>
            <div class="all">
                <h3>Оставить заявку нашему менеджеру</h3>
                <form class="validForm1">
                    <input type="text" placeholder="Ваше имя" required>
                    <input type="email" placeholder="Ваш E-mail" required pattern="%|#|&|$|*">
                    <input type="text" placeholder="Телефон" id="phone1" class="form-control" required>
                    <textarea placeholder="Комментарий"></textarea>
                    <div class="lab">
                        <input type="checkbox" id="check" required>
                        <label for="check">Нажимая кнопку, я согласен/на с условиями
                            <a href="javascript:void(0);" class="open-politic">политики конфиденциальности</a> </label>
                    </div>
                    <button class="orange-button" type="submit">Отправить</button>
                </form>
            </div>

        </section>

        <section class="Feedback pop">
            <i class="icon-close close-pop"></i>
            <div class="all">
                <h3>обратная связь</h3>
                <form>
                    <input type="text" placeholder="Ваше имя" required>
                    <input type="text" placeholder="Телефон" id="phone3" class="form-control" required>
                    <textarea placeholder="Сообщение"></textarea>
                    <div class="lab">
                        <input type="checkbox" id="check" required>
                        <label for="check">Нажимая кнопку, я согласен/на с условиями
                            <a href="javascript:void(0);" class="open-politic">политики конфиденциальности</a> </label>
                    </div>
                    <button class="orange-button" type="submit">Отправить</button>
                </form>
            </div>
        </section>

        <section class="some-popUp pop">
            <div class="all">
                <h3>Политика конфиденциальности</h3>
                <div class="some-info">
                    <p>
                        1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
                    </p>
                    <p>
                        1.1 В настоящей Политике конфиденциальности используются следующие
                        термины:
                    </p>
                    <p>
                        1.1.1. «Администрация сайта Интернет-магазина (далее – Администрация сайта) » –
                        уполномоченные сотрудники на управления сайтом, действующие от имени
                        интернет-магазина Fellini, которые организуют и осуществляет обработку
                        персональных данных, а также определяет цели обработки персональных данных,
                        состав персональных данных, подлежащих обработке, действия или операции
                        совершаемые с персональными данными.
                    </p>
                    <p>
                        1.1.2. «Персональные данные» - любая информация, относящаяся к прямо или
                        косвенно определенному или определяемому физическому лицу (субъекту
                        персональных данных).
                    </p>
                    <p>
                        1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
                    </p>
                    <p>
                        1.1 В настоящей Политике конфиденциальности используются следующие
                        термины:
                    </p>
                    <p>
                        1.1.1. «Администрация сайта Интернет-магазина (далее – Администрация сайта) » –
                        уполномоченные сотрудники на управления сайтом, действующие от имени
                        интернет-магазина Fellini, которые организуют и осуществляет обработку
                        персональных данных, а также определяет цели обработки персональных данных,
                        состав персональных данных, подлежащих обработке, действия или операции
                        совершаемые с персональными данными.
                    </p>
                    <p>
                        1.1.2. «Персональные данные» - любая информация, относящаяся к прямо или
                        косвенно определенному или определяемому физическому лицу (субъекту
                        персональных данных).
                    </p>
                    <p>
                        1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
                    </p>
                    <p>
                        1.1 В настоящей Политике конфиденциальности используются следующие
                        термины:
                    </p>
                    <p>
                        1.1.1. «Администрация сайта Интернет-магазина (далее – Администрация сайта) » –
                        уполномоченные сотрудники на управления сайтом, действующие от имени
                        интернет-магазина Fellini, которые организуют и осуществляет обработку
                        персональных данных, а также определяет цели обработки персональных данных,
                        состав персональных данных, подлежащих обработке, действия или операции
                        совершаемые с персональными данными.
                    </p>
                    <p>
                        1.1.2. «Персональные данные» - любая информация, относящаяся к прямо или
                        косвенно определенному или определяемому физическому лицу (субъекту
                        персональных данных).
                    </p>
                </div>
            </div>
            <i class="icon-close close-politic"></i>
        </section>
    </section>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.maskedinput.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/main.min.js"></script>
    <script src="../js/card-of-product.min.js"></script>
</body>

</html>