<footer>
    <section class="main-footer">
        <div class="container">
            <div class="all-info">
                <div class="first">
                    <a href="index.html" class="logo">
                        <img src="../img/logo-white.png" alt="Logo"  >
                    </a>
                    <p class="open-politic">Политики конфиденциальности</p>
                </div>
                <nav>
                    <ul class="second">
                        <li> <a href="about-company.html">О Компании</a> </li>
                        <li> <a href="production.html">Продукция</a> </li>
                        <li> <a href="services.html">Услуги</a> </li>
                    </ul>
                    <ul class="third">
                        <li> <a href="coin-box.html">Каталог товаров</a> </li>
                        <li> <a href="delivery-pay.html">Оплата и доставка</a></li>
                        <li> <a href="contact.html">Контакты</a> </li>
                    </ul>
                </nav>
                <div class="fourth">
                    <div>
                        <i class="icon-mail"></i>
                        <a href="mailto:info@noex-russian.com">info@noex-russian.com</a>
                    </div>
                    <div>
                        <i class="icon-phone"></i>
                        <a href="tel:'+7-495-796-3118'">+7-495-796-3118</a>
                    </div>
                    <a href="javascrip:void(0);" class="black-button open-feedback">Обратная связь</a>
                </div>
            </div>
        </div>
    </section>
    <section class="black-foot">
        <div class="container">
            <p>2020, Все права защищены.</p>
        </div>
    </section>
</footer>