<header>
    <div class="container">
        <div class="header">
            <a href="index.html" class="logo">
                <img src="../img/logo.png" alt="">
            </a>
            <div class="all-menu">
                <div class="top-block">
                    <a href="index.html" class="logo">
                        <img src="../img/logo.png" alt="">
                    </a>
                    <a href="javascript:void(0);" class="burger-menu close"><i class="icon-close"></i></a>
                </div>
                <nav>
                <ul class="mainMenu">
                    <li><a href="about-company.html">О компании</a></li>
                    <li><a href="production.html">Продукция</a></li>
                    <li><a href="services.html">Услуги</a></li>
                    <li><a href="delivery-pay.html">Оплата и доставка</a></li>
                    <li><a href="contact.html">Контакты</a></li>
                </ul>
                </nav>
                <ul class="contacts">
                    <li><span><i class="icon-phone"></i></span><div><a href="tel:+7-495-796-3118">+7-495-796-3118</a>
                    <p class="open-feedback">Заказать звонок</p></div></li>
                    <li>
                        <span><i class="icon-mail"></i></span> <div><a href="mailto:info@noex-russian.com">info@noex-russian.com</a>
                    <p>Напишите нам</p></div>
                    </li>
                    <li>
                    <span><i class="icon-pin_map"></i></span><div> <a href="javascript:void(0);">доставки по всей Белоруссии</a></div>
                    </li>
                </ul>
                <div class="bottom-block">
                    <div class="search">
                        <input type="text" placeholder="Поиск по сайту">
                        <i class="icon-search" onclick="document.location.href='resul-search.html'"></i>
                    </div>
                <a href="javascrip:void(0);" class="orange-button open-submit">Онлайн заявка</a>
                </div>
            </div>
            <a href="javascript:void(0);" class="burger-menu open"><i class="icon-menu"></i></a>
        </div>
    </div>
    <div class="line-descBG">
        <div class="container">
            <div class="line-desc">
                <div class="left">
                    <div class="burgerDropMenu">
                        <i class="icon-menu"></i>
                    </div>
                    <a href="coin-box.html"><p>Каталог</p></a>
                    <div class="search">
                        <input type="text" placeholder="Поиск по сайту" class="list-s">
                        <a href="result-search.html"><i class="icon-search"></i></a>
                        <ul class="list-search">
                            <li><a href="coin-box.html">Монетница Mini max</a></li>
                            <li><a href="one-service.html">Mонетница Kontakt из акрила и пластика</a></li>
                            <li><a href="card-of-product.html">Монетница Perfect</a></li>
                            <li><a href="coin-box.html">Монетница Mini max</a></li>
                            <li><a href="one-service.html">Mонетница Kontakt из акрила и пластика</a></li>
                            <li><a href="card-of-product.html">Монетница Perfect</a></li>
                            <li><a href="coin-box.html">Монетница Mini max</a></li>
                            <h5><a href="result-search.html">Показать все результаты</a></h5>
                        </ul>
                    </div>
                </div>
                <a href="javascrip:void(0);" class="orange-button open-submit">Онлайн заявка</a>
                <div class="dropPodMenu">
                    <div class="first-menu">
                        <ul>
                            <li><a href="coin-box.html">Монетницы</a><i class="icon-arrow-long"></i></li>
                            <li><a href="coin-box.html">Коробки для чеков</a><i class="icon-arrow-long"></i></li>
                            <li><a href="coin-box.html">Пластиковые подносы</a><i class="icon-arrow-long"></i></li>
                            <li><a href="coin-box.html">Менюхолдеры</a><i class="icon-arrow-long"></i></li>
                            <li><a href="coin-box.html">Полиграфия</a><i class="icon-arrow-long"></i></li>
                            <li><a href="coin-box.html">Ценникодержатели</a><i class="icon-arrow-long"></i></li>
                            <li><a href="coin-box.html">Информационные стенды</a><i class="icon-arrow-long"></i></li>
                            <li><a href="coin-box.html">Диспенсеры</a><i class="icon-arrow-long"></i></li>
                        </ul>
                    </div>
                    <div class="second-menu">
                        <ul>
                            <li>Пластик</li>
                            <li>LCD</li>
                            <li>Стекло</li>
                            <li>Алюминий</li>
                            <li>С подсветкой</li>
                            <li>Пластик – Стекло</li>
                        </ul>
                    </div>
                    <div class="third-menu">
                        <div class="one">
                            <div class="one-product">
                                <div class="photo">
                                    <img src="../img/moentnica1.jpg" alt="Photo"  >
                                </div>
                                <div class="info">
                                    <a href="card-of-product.html">Монетница Mini max</a>
                                    <h6>Артикул:	016</h6>
                                </div>
                            </div>
                            <div class="one-product">
                                <div class="photo">
                                    <img src="../img/moentnica1.jpg" alt="Photo"  >
                                </div>
                                <div class="info">
                                    <a href="card-of-product.html">Монетница Mini max</a>
                                    <h6>Артикул:	016</h6>
                                </div>
                            </div>
                            <div class="one-product">
                                <div class="photo">
                                    <img src="../img/moentnica1.jpg" alt="Photo" >
                                </div>
                                <div class="info">
                                    <a href="card-of-product.html">Монетница Mini max</a>
                                    <h6>Артикул:	016</h6>
                                </div>
                            </div>
                        </div>
                        <div class="one">
                            <div class="one-product">
                                <div class="photo">
                                    <img src="../img/moentnica1.jpg" alt="Photo"  >
                                </div>
                                <div class="info">
                                    <a href="card-of-product.html">Монетница Mini max</a>
                                    <h6>Артикул:	016</h6>
                                </div>
                            </div>
                            <div class="one-product">
                                <div class="photo">
                                    <img src="../img/moentnica1.jpg" alt="Photo" >
                                </div>
                                <div class="info">
                                    <a href="card-of-product.html">Монетница Mini max</a>
                                    <h6>Артикул:	016</h6>
                                </div>
                            </div>
                            <div class="one-product">
                                <div class="photo">
                                    <img src="../img/moentnica1.jpg" alt="Photo" >
                                </div>
                                <div class="info">
                                    <a href="card-of-product.html">Монетница Mini max</a>
                                    <h6>Артикул:	016</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>