<section class="close-background"></section>

<section class="close-background-black">

    <section class="request-call pop">
        <i class="icon-close close-pop"></i>
        <div  class="all">
            <h3>Форма обратной связи</h3>
            <form>
                <input type="text" placeholder="Ваше имя" required >
                <input type="text" placeholder="Телефон" id="phone" class="form-control" required >
                <input type="text"  placeholder="Удобное время для звонка" required >
                <div class="lab">
                    <input type="checkbox" id="check" required>
                    <label for="check">Нажимая кнопку, я согласен/на с условиями 
                    <a href="javascript:void(0);"  class="open-politic">политики конфиденциальности</a> </label>
                </div>
                <button class="orange-button"  type="submit">Отправить</button>
            </form>
        </div>
    </section>

    <section class="submit-application pop">
        <i class="icon-close close-pop"></i>
        <div  class="all">
            <h3>Оставить заявку нашему менеджеру</h3>
            <form class="validForm1">
                <input type="text" placeholder="Ваше имя" required >
                <input type="email"  placeholder="Ваш E-mail" required pattern="%|#|&|$|*">
                <input type="text" placeholder="Телефон" id="phone1" class="form-control" required >
                <textarea placeholder="Комментарий"></textarea>
                <div class="lab">
                    <input type="checkbox" id="check" required>
                    <label for="check">Нажимая кнопку, я согласен/на с условиями 
                    <a href="javascript:void(0);"  class="open-politic">политики конфиденциальности</a> </label>
                </div>
                <button class="orange-button" type="submit">Отправить</button>
            </form>
        </div>
        
    </section>

    <section class="Feedback pop">
        <i class="icon-close close-pop"></i>
        <div class="all">
            <h3>обратная связь</h3>
            <form>
                <input type="text" placeholder="Ваше имя" required >
                <input type="text" placeholder="Телефон" id="phone3" class="form-control" required >
                <textarea placeholder="Сообщение" ></textarea>
                <div class="lab">
                    <input type="checkbox" id="check" required>
                    <label for="check">Нажимая кнопку, я согласен/на с условиями 
                    <a href="javascript:void(0);"  class="open-politic">политики конфиденциальности</a> </label>
                </div>
                <button class="orange-button" type="submit">Отправить</button>
            </form>
        </div>
    </section>

    <section class="some-popUp pop">
        <div class="all">
            <h3>Политика конфиденциальности</h3>
            <div class="some-info">
                <p>
                    1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
                </p>
                <p>
                    1.1 В настоящей Политике конфиденциальности используются следующие 
                    термины:
                </p>
                <p>
                    1.1.1. «Администрация сайта Интернет-магазина (далее – Администрация сайта) » – 
                    уполномоченные сотрудники на управления сайтом, действующие от имени 
                    интернет-магазина Fellini, которые организуют и осуществляет обработку 
                    персональных данных, а также определяет цели обработки персональных данных, 
                    состав персональных данных, подлежащих обработке, действия или операции
                    совершаемые с персональными данными.
                </p>
                <p>
                    1.1.2. «Персональные данные» - любая информация, относящаяся к прямо или 
                    косвенно определенному или определяемому физическому лицу (субъекту 
                    персональных данных).
                </p>
                <p>
                    1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
                </p>
                <p>
                    1.1 В настоящей Политике конфиденциальности используются следующие 
                    термины:
                </p>
                <p>
                    1.1.1. «Администрация сайта Интернет-магазина (далее – Администрация сайта) » – 
                    уполномоченные сотрудники на управления сайтом, действующие от имени 
                    интернет-магазина Fellini, которые организуют и осуществляет обработку 
                    персональных данных, а также определяет цели обработки персональных данных, 
                    состав персональных данных, подлежащих обработке, действия или операции
                    совершаемые с персональными данными.
                </p>
                <p>
                    1.1.2. «Персональные данные» - любая информация, относящаяся к прямо или 
                    косвенно определенному или определяемому физическому лицу (субъекту 
                    персональных данных).
                </p>
                <p>
                    1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
                </p>
                <p>
                    1.1 В настоящей Политике конфиденциальности используются следующие 
                    термины:
                </p>
                <p>
                    1.1.1. «Администрация сайта Интернет-магазина (далее – Администрация сайта) » – 
                    уполномоченные сотрудники на управления сайтом, действующие от имени 
                    интернет-магазина Fellini, которые организуют и осуществляет обработку 
                    персональных данных, а также определяет цели обработки персональных данных, 
                    состав персональных данных, подлежащих обработке, действия или операции
                    совершаемые с персональными данными.
                </p>
                <p>
                    1.1.2. «Персональные данные» - любая информация, относящаяся к прямо или 
                    косвенно определенному или определяемому физическому лицу (субъекту 
                    персональных данных).
                </p>
            </div>
        </div>
        <i class="icon-close close-politic"></i>
    </section>
</section>